@charset "UTF-8";
body{
	background-color: #ffffe6;
}
.navbar{
	background-color: #e77421;
	border-radius: 5px 5px 5px 5px;
}
.navbar ul{
	overflow: auto;
}
.navbar li{
	float: left;
	list-style: none;
	padding: 8px 4px;
	margin: 25px 25px;
}
.navbar li a{
	padding: 4px 20px;
	text-decoration: none;
	color: black;	
}
.search{
	float: right;
	padding: 5px 75px;
	margin: 25px 5px;
	border-radius: 5px 5px 5px 5px;
}

.navbar input{
	padding: 3px 17px;
}

.logo{
	position: absolute;
	top: 35px;
	left: 40px;
	width: 90px;
	height: 30px;
}

button{
	color: green;
    width: 100px;
    padding: 3px 15px;
    background-color: burlywood;
}

button:hover {
  opacity: 0.8;
}

search .button{
	background-color: green;
}

* {
  box-sizing: border-box;
}

 .box {
  float: left;
  width: 33.33%;
  padding: 50px;
  height: 320px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.new input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.new input[type=date] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.new input[type=tel] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.new input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.new input[type=submit]:hover {
  background-color: #45a049;
}

.new input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.log input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.log{
	position: relative;
	padding-left:640px;
	padding-top:50px;
}

.new input[type=number] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}







